@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
header{
	justify-content: space-between;
	color: #fff;
	display: flex;
	#name{
		animation: 0.5s ease-out 0s 1 slideInFromLeft;
		margin-left: 20px;
		display: flex;
		#title{
			font-family: "Expletus Sans";
			font-size: 64px;
			margin: 0;
			padding: 0px;
			text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		}
		#subtitle{
			font-size: 36px;
			margin: 20px 0;
			padding: 0px;
		}
	}
	input{
		font-family: "Inter","FontAwesome";
		width: 403px;
		height: 40px;
		border: solid 1px #6a6a6a;
		border-radius: 30px;
		background: #3d3d3d;
		color: #fff;
		font-size: 20px;
		padding: 1px;
		margin: 20px;
	}
	#navegacion{
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
		margin-left: 20px;
		.normal{
			text-decoration: none;
			color: #fff;
			font-size: 20px;
			transition: color 0.3s ease;
			&:hover{
				color: #6a6a6a;
			}
		}
		.active{
			text-decoration: none;
			color: #fff;
			font-size: 20px;
			border-bottom: solid 2px #fff;
			&:hover{
				color: #6a6a6a;
			}

		}
	}
	.fa-circle-user{
		font-size: 50px;
		color: #414141;
		margin: 15px;
		cursor: pointer;
	}
}
