@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
}
  100% {
    transform: translateY(0);
  }
}

*{
font-family: "Inter","FontAwesome", sans-serif;
color: #fff;
}
body{
	margin: 0;
	margin-top: 100px;
	padding: 0;
	width: 100%;
	background: #363636;
	background: radial-gradient(ellipse at left top, #3c3c3c, #313131);
	height: 100%;
	background-size: cover;

}
#container{	
	display: flex;
	flex-direction: column;
	position: relative;
	#sectiontitle{
		margin: 20px;
		font-size: 20px;
		justify-content: start;
		}
	p{
		margin: 0;
		padding: 0;
		color: #fff;
		text-align: center;
	}
	#cards{
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		margin: 20px;
		width: calc(100% - 40px);
		justify-content: center;	
		.card{
			border-radius: 15px;
			width: 259px;
			height: 280px;
			background: #fff;
			justify-content: center;
			text-align: center;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			transition: all 0.3s ease;

			.image{
				background: #c4c2d9;
				margin: 20px auto;
				justify-content: center;
				width: 240px;
				height: 190px;
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 5px;
				}
			}
				h2{
					margin: 0 auto;
					font-size: 20px;
					color: #000;
					overflow: hidden;
					text-overflow: ellipsis;
					max-width: 85%;
					white-space: nowrap;
				}
				p{
					color:#808080;
					margin: 10px;
					overflow: hidden;
					text-align: left;
					text-overflow: ellipsis;
					max-width: 100%;
					max-height: 100px;
					text-indent: 10px;
				}
				&:hover{
					transform: scale(1.05);
					cursor: pointer;
					box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
				}
		}		
	}

}

.cargando {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100vh;
  background-color: rgba(60, 60, 60, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 900px) {
    #container {
        padding: 1rem;
    }
    #cards {
        gap: 1rem;
    }
    .card .image {
        width: 10rem;
        height: 10rem;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 0.95rem;
    }
    #container {
        padding: 0.5rem;
    }
    #sectiontitle {
        font-size: 1rem;
    }
    #cards {
        gap: 0.5rem;
        grid-template-columns: 3fr;
    }
    .card .image {
        width: 8rem;
        height: 8rem;
    }
}
@media (prefers-color-scheme: light) {
	body{
		color: #000;
		background: #f0f0f0;
		background: radial-gradient(ellipse at left top, #e0e0e0, #f5f5f5);

	}
	#container{
		#sectiontitle p{
			color: #000;
		}
		#cards{
			.card{
				background: #fff;
				color: #000;
				.image{
					background: #c4c2d9;
				}
				h2{
					color: #000;
				}
				p{
					color: #606060;
				}
			}
		}		
	}
	.card{
		background: #3D3D3D;
		color: #fff;
	}
}

::webkit-scrollbar {
  background-color: #2f2f2f;  
}


